<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <title>Reset password</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap" rel="stylesheet" />
    <style type="text/css">
    </style>
</head>

<body>
    <div style="color: rgba(24, 37, 56, 0.8);
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;background: rgba(1, 72, 134, 0.04); width: 100%; padding-top: 30px; padding-bottom: 30px">
        <div class="main-body" style="width: 700px; margin: 0 auto;">

            <div style="margin-top: 80px; text-align: center;" class="logo">
                Logo
            </div>
            <div class="email-body"
                style="padding: 55px 65px;background-color: #fff;border-radius: 10px;margin-top: 25px;">
                <!-- Title -->
                <h1 style="font-size: 24px;
      font-family: 'Futura'; font-style: normal; font-weight: bold; line-height: 32px; color: #090e34;" class="title">
                    Reset your password</h1>

                <!-- Content -->
                <p>Hi {{customer_name}},</p>
                <p>Click the link below to reset your password</p>
                <p style="padding: 10px; letter-spacing: 10px;">
                    {{code}}
                </p>

                <div style="color: #090e34;
      font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      margin-top: 85px;
      font-weight: bold;
      margin-top: 50px;
      font-size: 18px;
      line-height: 25px;" class="salutation">
                    <p style="margin: 0px;">Cheers!!!,</p>
                    <p style="margin: 0px;">{{app_name}} Team</p>
                </div>
            </div>

            <!-- Footer -->
            <div style="margin-top: 30px;
      text-align: center;
      padding: 0 100px;" class="footer">
                <div class="disclaimer" style="font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: 100;
      font-size: 12px;
      line-height: 16px;
      text-align: center;
      color: #090e34">
                    <p>
                        This email was sent to {{email}}. If you did not perform any
                        action on our platform, kindly send a mail to
                        <span style="color: #23B3E8;" class="email-link">support@themojo.com</span>.
                    </p>

                    <p>
                        Please do not reply to this email. Replies to this email are
                        undeliverable.
                    </p>
                </div>


                <hr style="width: 60%;
      margin-top: 24px;
      border: 1px solid rgba(145, 154, 163, 0.3);" class="divider" />

                <div>
                    <ul style="font-family: 'Nunito Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      margin-top: 24px;
      font-size: 12px;
      text-align: center;
      color: #a5a4a4;
      vertical-align: middle;
      padding-left: 0;" class="contact-details">
                        <li style="display: inline-flex;
      padding: 0 20px; border-right: 1px solid #a5a4a4;
      font-size: 14px;"><span><img style="opacity: 0.4;" class="image-phone" alt="phone"
                                    src="https://res.cloudinary.com/zeedas/image/upload/v1592077738/assets/phone-vector_rgdif1.svg" /></span><span
                                class="phone-number">+01 1827 1000</span></li>
                        <li style="display: inline-flex;
      padding: 0 20px;
      font-size: 14px;"><span><img alt="facebook"
                                    src="https://res.cloudinary.com/zeedas/image/upload/v1592077736/assets/fb-vector_bg2djs.svg" /></span>
                        </li>
                        <li style="display: inline-flex;
      padding: 0 20px;
      font-size: 14px;"><span><img alt="instagram"
                                    src="https://res.cloudinary.com/zeedas/image/upload/v1592077734/assets/ig-vector_jvygqc.svg" /></span>
                        </li>
                        <li style="display: inline-flex;
      padding: 0 20px;
      font-size: 14px;"><span><img alt="twitter"
                                    src="https://res.cloudinary.com/zeedas/image/upload/v1592077732/assets/tw-vector_urqmp2.svg" /></span>
                        </li>
                        <li style="display: inline-flex;
      padding: 0 20px;
      font-size: 14px;"><span><img alt="gmail"
                                    src="https://res.cloudinary.com/zeedas/image/upload/v1592077730/assets/g-vector_y0eaej.svg" /></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>